[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
alembic = "*"
pytest = "*"
pytest-clarity = ">=0.3.0a0"
pytest-cov = "*"
webtest = "*"

[packages]
flask = "*"
mongoengine = "*"
passlib = "*"
progressbar2 = "*"
python-dateutil = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"
